/* Xess modified, forked from https://github.com/Xe/Xess/ ; MIT License - https://git.lucdev.net/luc/xess/src/branch/main/LICENSE */

main {
  font-family: monospace, monospace;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 0rem;
  }
}

::selection {
  background: #ff79c6;
}

body {
  background: #282a36;
  color:      #f8f8f2;
}

pre {
  background-color: #44475a;
  padding: 1em;
  border: 0;
}

a, a:active, a:visited {
  color: #ff79c6;
  background-color: #44475a;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .1rem;
}

blockquote {
  border-left: 1px solid #6272a4;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}

img {
  max-width: 100%;
}

@media (prefers-color-scheme: light) {
    body {
        background: #d7d5c9;
        color:      #07070d;
    }

    pre {
        background-color: #bbb8a5;
        padding: 1em;
        border: 0;
    }

    a, a:active, a:visited {
        color: #8f2d64;
        background-color: #bbb8a5;
    }

    h1, h2, h3, h4, h5 {
        margin-bottom: .1rem;
    }

    blockquote {
        border-left: 1px solid #6272a4;
        margin: 0.5em 10px;
        padding: 0.5em 10px;
    }
}